__pycache__

## 1. Ignore all temperate files ##
DimerAndHairpin_exam
output/*
./testPrimer*
test_run.sh

## 2. Ignore all processed SILVA data ##
Model_data/Silva_ref_data/*

## 3. Ignore all large size database ##
Metagenomic_preprocessing/GRCh38_noalt_as.zip
Model_data/DeepAnno16_publicated_model

## 4. Ignore script for submission ##
submission.ipynb
longitudinal_case_jxq.ipynb
Table_S5.xlsx
Model_data/OffTarget_amplicon_check/MITOBANK_6w*
Model_data/OffTarget_amplicon_check/offTarget_plants_seqs*
Model_data/OffTarget_amplicon_check/offTarget_olive_seqs*
Model_data/OffTarget_amplicon_check/offTarget_test*
Model_data/OffTarget_amplicon_check/primers_offTarget_test_ori.xlsx