__pycache__

## 1. Ignore all temperate files ##
DimerAndHairpin_exam
output/*
test_run.sh

## 2. Ignore all processed SILVA data ##
Model_data/Silva_ref_data/*

## 3. Ignore all large size database ##
Metagenomic_preprocessing/GRCh38_noalt_as.zip
Model_data/DeepAnno16_publicated_model